<% if notice %>
    <div class="message_bar"><%= notice %></div>
<% end %>
<div id="settings">
	<div>
        <span class="section_title">Personalize</span>
        <%= form_tag(personalize_path, :method=>'post') do %>
            <div class="sub_title">Favorite Tags</div>
            <div id="favorite_tags">
                    <div>Select up to 6 favorite tags, your favorite tags will be display in the quick filter bar.</div>
                    <div style="margin:15px 5px;">
                        <%= select_tag 'favoriteTags', options_for_select(@alltags.map {|e| [e.name, e.id] }, @personalize_tags), {:include_blank => false, :multiple => true} %>
                        <span class="inline_warning" style="display:none; color:red; margin-left:5px;">You can only select up to 6 favorite tags </span>
                    </div>
            </div>
            <div id="submit_tile" style="margin-bottom:25px; ">
                <input type="submit" class="button orange_white" style="padding:5px 25px;" value="Save" />
            </div>
        <% end %>

		<span class="section_title">Manage Tags</span>
        <div class="sub_title"> Merge Tags </div> 
        <div id="merge_tags">
            <%= form_tag(mergetag_path, :method=>'post') do %>
                <div>
                    Source Tags &nbsp;&nbsp; &nbsp;
                    <%= select_tag 'sourceTags', options_for_select(@alltags.map { |e| [e.name, e.id] }), {:include_blank => false, :multiple => true} %>
                    <span style="font-size:12px; text-decoration:underline;"><%= link_to 'suggest merges', suggestmerges_path, :remote=>true %></span>
                </div>
                <div>
                    Destination Tag
                    <%= select_tag 'destinationTag', options_for_select(@alltags.map { |e| [e.name, e.id] }), {:include_blank => false} %>
                </div>
                <div>
                    <%= check_box_tag(:deleteAfterMerge, 'on', true) %>
                    <%= label_tag(:deleteAfterMerge, "Delete source tags after merging") %>
                </div>
                <div>
                    <%= submit_tag "Merge Tags" %>
                </div>
            <% end %>
        </div>
        <div class="sub_title"> All Tags </div>
        Order By: 
            <span class="order">
                <%= select_tag 'tagsOrder', options_for_select([['Name', 'name'], ['Trending', 'trending']], params[:order] || 'name') %>
            </span>
            <span class="order" id ="trending" style="display:none;">
                Trending In: 
                <%= select_tag 'trendingTime', options_for_select([['This Week', 'week'], ['This Month', 'month'], ['This year', 'year'], ['All Time', 'time']], params[:trending] || 'week') %>
            </span>
        <div id="list_tags">
            <ul class="styled_list column_list">
                <%= render partial: "listtag", collection: @tags, as: :tag %>
            </ul>
            <div id="tag_pagination">
                <%= paginate @tags, :remote => true %>
            </div>
        </div>
	</div>
</div>

<div id="popup"></div>
<div id="grayout" onclick="popupHide();"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#sourceTags').select2();
        $('#destinationTag').select2();
        $('#favoriteTags').select2();

        

        $('#tagsOrder').on('change', function(){
            $('#list_tags').html('<img src="/assets/ajax-loader.gif" />');
            $('#list_tags').load('/sitesettings/orderTags/' + $(this).val());
            $('#trending').toggle($('#tagsOrder').val() == 'trending');
        });

        $('#trendingTime').on('change', function(){
            $('#list_tags').html('<img src="/assets/ajax-loader.gif" />');
            $('#list_tags').load('/sitesettings/orderTags/trending/' + $(this).val());
        });


          var last_valid_selection = $('#favoriteTags').val();

          $('#favoriteTags').change(function(e) {
            if ($(this).val().length > 6) {
                $(this).val(last_valid_selection);
                $(this).change();
                $('.inline_warning').show();
            } else {
                last_valid_selection = $(this).val();
            }
          });
        });

 
</script>