<li>
	<span class="upvote_symbol" id="<%= 'upvote_' + item.id %>">
		<% 
		if current_user && (item.users.map { |u| u.id }.include? current_user.id) %>
			<%= link_to '', unvote_path(item), class: "upvote_link star", :remote=>true, method: :post %>
		<% else %> 	
			<%= link_to '', upvote_path(item), class: "upvote_link star_inactive", :remote=>true, method: :post %>
		<% end %>
	</span>
    <%= link_to item.title, item_path(item), class: "title_link", :remote=>true %>
    <% if item.comments.length == 1 %>
    	<span title="<%= item.comments.length %> comment"><i class="fa fa-comment-o" aria-hidden="true"></i>
    <% elsif  item.comments.length > 1 && item.comments.length < 5 %>
    	<span title="<%= item.comments.length %> comments"><i class="fa fa-comment-o" aria-hidden="true"></i>
    <% elsif item.comments.length >= 5  %>
    	<span title="<%= item.comments.length %> comments"><i class="fa fa-comments-o" aria-hidden="true"></i>
    <% end %>
</li>
