<div id="search_simple">
<div id="filters">
            <span class="filter_category">
                <span style="width:45px;">Filter by Type:</span>
                <!--
                <span id="view_select" class="button dropdown" onclick="view_select_dropdown()"><%= @filter %></span>
                <span id="view_select_options">
                    <ul class="styleless_list">
                        <li class="selected"><%= link_to 'All Items', params.merge(:type => "Item") %></li>
                        <li><%= link_to 'Signals', params.merge(:type => "Signal") %></li>
                        <li><%= link_to 'Projects', params.merge(:type => "Project") %></li>
                        <li><%= link_to 'Artifacts', params.merge(:type => "Artifact") %></li>
                        <li><%= link_to 'Forecasts', params.merge(:type => "Forecast") %></li>
                    </ul>
                </span>-->
                <%= select_tag 'typeFilter', options_for_select(['Artifact', 'Forecast', 'Project', 'Signal'], params[:type]), {:include_blank => true} %>
            </span>
            Order By: 
            <span class="order">
                <%= select_tag 'customOrder', options_for_select([['Newest First', 'date_desc'], ['Oldest First', 'date_asc'], ['Most Favorited', 'fav']], params[:order] || 'date_desc') %>
            </span>
            <!--
            <input></input>
            <span id="simple_search" class="button">Search</span> -->
            <span id="advance_search">Advanced</span>
        </div>
        <div id="search">
            <span class="filter_category">
                Filter By Tag:
                <ul id="filter_tags" class="horizontal_list">
                    <% @tags[0..(6 - 1)].each do |tag|
                        if @tag && tag.name == @tag.name %>
                            <li class="button tag selected" data-tagID="<%= tag.id %>"><%= tag.name %></li>
                        <% else %>
                            <li class="button tag" data-tagID="<%= tag.id %>"><%= tag.name %></li>
                    <% end
                    end %>
                    <%= select_tag 'moreTags', options_for_select(@tags[6..-1].map { |e| [e.name, e.id] }, params[:tag]), {:include_blank => true} %>
                </ul>
                <!--
                <ul id="more_tags" style="display:none;">
                    <% @tags[IFTF::TOP_TAG_NUM..-1].each do |tag| %>
                        <li><%= link_to tag.name, params.merge(:tag => tag.id) %></li>
                    <% end %>
                </ul>
                -->
            </span>
        </div>
</div>

<script type="text/javascript">
/*
    $('#show_more_tags').on('click', function(){
        $('#more_tags').show();
    })
*/
</script>
