<h1 style="text-align:center; font-size:25px">
    <%= link_to 'The Interface for the Future', root_path %>
</h1>
<div id="resource_center">
    <div id="resource_header">
        <div id="add_item">
            <span style="display:inline-block">
                <%= form_tag(new_item_path, method: "get", remote: true) do %>
                    <%= submit_tag("Add New", :class => "button orange_white") %>
                    <%= text_field_tag 'quick_url', nil, placeholder: 'Enter URL', class: "url_input" %>
                <% end %>
            </span>
        </div>
        <div id="ss">
            <a>(Back to Simple Search)</a>
        </div>
        <div id="search_filter">
            <%= render 'simpleSearch' %>
            <%= render 'advanceSearch' %>
        </div>
    </div>
    <div>
        <div id="resource_list" class="bordered-block">
            <div id="navigator">
                <ul class="horizontal_list">
                    <li id = 'navigator_home' class="button" onclick="navigate_home()">Home</li>
                    <li id = 'navigator_back' class="button inactive" onclick="navigate_back()">Back</li>
                    <li id = 'navigator_forward' class="button inactive" onclick="navigate_forward()">Forward</li>
                </ul>
            </div>
            <div id="slider">
                <div id="resource_page_0" class="homepage currentpage">
                <div class="page_title">
                    <%= @filter +  @taggings + @related_project %>
                    <br>
                    <%= @search %>
                </div>
                <ul id="list_items" class="styled_list">
                    <%= render partial: "listitem", collection: @items, as: :item %>
                </ul>
                <div id="pagination">
                    <%= paginate @items, :remote => true %>
                </div>
                </div>
            </div>
        </div>
        <div id="resource_preview" class="bordered-block">
        </div>
        <!--item edit bar-->
        <div id="item_edit_bar">
        </div>
    </div>
</div>

<div id="popup"></div>
<div id="grayout" onclick="popupHide();"></div>

<script type="text/javascript">
    var pageWidth = 455;
    $('#slider').data('current_page', 0);
    $('#view_select_options').hide();
    $('#tagFilters_').select2();
    $('#projectFilter').select2({placeholder: "Select a project", allowClear: true});
    $('#typeFilter').select2({placeholder: "All Items", allowClear: true});
    $('#moreTags').select2({placeholder:"More Tags", allowClear:true});
    infiniteScroll();
    adjust_on_window_change();
    $(window).resize(adjust_on_window_change);
    $(window).scroll(adjust_on_window_change);

    $('#typeFilter').on('change', function(){
        window.location = updateCurrentParams('type=' + $(this).val());
    });
    $('#projectFilter').on('change', function(){
        window.location = updateCurrentParams('project=' + $(this).val());
    });
    $('#moreTags').on('change', function(){
        window.location = updateCurrentParams('tag=' + $(this).val());
    });

    $('#search span#simple_search').on('click', function(){
        var q = $('#search input').val();
        window.location = updateCurrentParams('search=' + q);
    });

    $('#advance_search').on('click', function(){
        $('#search_simple').hide();
        $('#search_advance').show();
        $('#ss').show();
        $('#add_item').hide();
        adjust_on_window_change();
    });

    $('#ss').on('click', function(){
        $('#search_simple').show();
        $('#search_advance').hide();
        $('#ss').hide();
        $('#add_item').show();
        adjust_on_window_change();
    });

    function view_select_dropdown(){
        $('#view_select_options').toggle();
        $('#view_select_options').css({'left':$('#view_select').offset().left});
    }

    function navigate_back(){
        var c_page = $('#slider').data('current_page');
        if (c_page > 0){
            $('#slider').animate({
                left:('+='+pageWidth)
            }, 250);
            $('#slider').data('current_page', c_page - 1);
            update_navigator();
        }
    }

    function navigate_forward(){
        var c_page = $('#slider').data('current_page');
        var next_page = '#resource_page_' + (c_page + 1);
        if ($('#slider').find(next_page).length > 0) {
            $('#slider').animate({
                left: ('-=' + pageWidth)
            }, 250);
            $('#slider').data('current_page', c_page + 1);
            update_navigator();
        }
    }

    function navigate_home(){
        var c_page = $('#slider').data('current_page');
        if ($('#resource_page_' + c_page).hasClass('homepage')) return;
        var next_page = 'resource_page_' + (c_page + 1);
        var path_length = $('#slider').children().length;
        for (var i = c_page + 1; i < path_length; i++) {
            $('#resource_page_' + i).remove();
        }
        $('#slider').width((c_page + 2) * pageWidth);
        $new_page = $('#resource_page_0').clone().attr('id', next_page);
        $('#slider').append($new_page);
        $('#slider').animate({
            left: ('-=' + pageWidth)
        }, 250);
        $('#slider').data('current_page', c_page + 1);
        update_navigator();
    }

    function update_navigator(){
        var c_page = $('#slider').data('current_page');
        var next_page = '#resource_page_' + (c_page + 1);
        $('#navigator_back').toggleClass('inactive', c_page == 0);
        $('#navigator_forward').toggleClass('inactive', $('#slider').find(next_page).length == 0);
    }
</script>
