<!--item preview-->
<div id="item_id" style="display:none;" data-itemid = "<%= @item.id %>"> </div>
<div class="item_title"> 
    <%= link_to @item.title, @item.url %>   
    <span class="item_upvotes" id="<%= @item.id + '_upvotes' %>">
        <% if current_user && (@item.users.map { |u| u.id }.include? current_user.id) %>
            <%= link_to '', unvote_path(@item), class: "upvote_link star", :remote=>true, method: :post %>
        <% else %>  
            <%= link_to '', upvote_path(@item), class: "upvote_link star_inactive", :remote=>true, method: :post %>
        <% end %>
        <% if @item.upvotes && @item.upvotes > 0 %>
            x<span id="upvotes_count"><%= @item.upvotes %></span>
        <% end %>
    </span>
</div>
<div class="by_line">
    <% if @item.author.presence %>
        Submitted <%=time_from_today(@item.created_at) %> by <%= link_to @item.author.email, '/profile/' + @item.author.id %>
    <% end %>
</div>
<% if @item.image.presence %>
    <div class="item_image"><img src="<%= @item.image %>" /></div>
<% end %>
<div class="item_description"><%= @item.description %></div>
<% if @item.url.presence %>
    <div class="item_url"><%= link_to '(View Source)', @item.url %></div>
<% end %>
<div class="item_tags">
  <!--  <span>Tags:</span> -->
    <%= select_tag 'item_tags[]', 
        options_for_select(@tags.map {|t| [t.name, t.id]}, @item.tags.map {|i| i.id}),
        :multiple => true %>

    <div id="tag_lists" style="display:none;">
    <% @item.tags.each do |tag| %>
        <span id="tag_<%=tag.name %>" class="button lighter_border">
            <%= tag.name %>
            <span class="remove_tag"><%= link_to 'x', removetag_path(@item, tagname: tag.name), :remote=> true, method: :post %></span>
        </span>
    <% end %>
  <input id="new_tag"></input>
    </div>
    <%= csrf_meta_tag %>
    <div id="tag_suggestions">
        <span>Add popular tags:</span>
        <% @top_tags.each do |tag| %>
            <!--<span class="button lighter_border" onclick="if(addTag('<%= tag.name %>')){ $(this).remove(); }">-->
            <span class="button tag" data-tag = '<%=tag.id %>' style="padding:3px;" onclick="addToSelect2('<%= tag.id %>'); $(this).hide();" >
                <%= tag.name %>
            </span>
        <% end %>
    </div>
</div>
<div class="comments">
    <div> Comments </div>
    <ul class="styleless_list">
    <% @item.comments.each do |comment| %>
        <li class="list_item_comment">
            <% if comment.users == nil %>
                <span class="comment_username">Annonymous</span>
            <% else %>
                <span class="comment_username"><%= comment.users.email %></span>
            <% end %>
            <% if current_user && (comment.users == current_user || comment.users == nil) %>
                <span class="comment_delete"> <%= link_to 'x', [@item, comment], method: :delete, data: { confirm: 'The comment will be deleted.' } %></span>
            <% end %>
            <span class="comment_content"><%= comment.content %></span>
        </li>
    <% end %>
    </ul>
    <% if current_user %>
    <%= form_for([@item, @item.comments.new]) do |f| %>
            <%= f.text_area :content %>
            <%= f.submit "Add Comment"%>
    <% end %>
    <% else %>
        <p>Click <%= link_to 'here', 'users/sign_in', {:style=>'text-decoration:underline; cursor:pointer;'} %> to login and make a comment </p>
    <% end %>
</div>
<script type="text/javascript">
    if ($('#item_tags_').val() != null){
        $('#tag_suggestions .tag').each(function(){
            $(this).toggle($('#item_tags_').val().indexOf($(this).data('tag')) == -1);
        });
    }
    $('#item_tags_').select2({tags: true});
    var existing_tags = [],
        last_tag = '';
    $('#tag_lists>span.lighter_border').each(function(){
        existing_tags.push($(this).attr('id').substr(4));
        last_tag = $(this).attr('id');
    });
    adjustNewTagWidth(last_tag);

    $('#new_tag').on('focusout', function(){
        var name = $(this).val();
        addTag(name);
    });
    $('#new_tag').on('keypress', function(e){
        if (e.which == 13) {
            var name = $(this).val();
            addTag(name);
        }
    });

    $('#select_tags').on('change', function(){
        updateTags($(this).val());
    });

    $('#item_tags_').on('change', function(){
        updateTags($(this).val());
    })
    
    function addToSelect2(tagId){
        var c_vals = $('#item_tags_').select2('val');
        if (c_vals == null) {c_vals = [];}
        if (!Array.isArray(c_vals)) {c_vals = [c_vals];}
        c_vals.push(tagId);
        $('#item_tags_').select2('val', c_vals, true);
    }

    function updateTags(tagIds){
        var url = '/item/' + '<%= @item.id %>' + '/updatetags';
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: 'newtags=' + tagIds,
            success: function(data, textStatus){
                console.log(data);
                $('#tag_suggestions .tag').each(function(){
                    $(this).toggle(data.indexOf($(this).data('tag')) == -1);
                });
            },
            error: function(xhr, textStatus, errorThrown){
                console.log(xhr);
            }
        });
    }
    function addTag(name){
        if (name && existing_tags.indexOf(name) == -1){
        var url = '/item/' + '<%= @item.id %>' + '/addtag';
        $.ajax({
            type: 'POST',
            url: url,
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: 'tagname=' + name,
            success: function(data, textStatus) {
                if (jQuery.type(data) != 'string' || data.indexOf('Please Login first before continue') == -1){
                $('#new_tag').before($('<span id="tag_' + name + '" class="lighter_border button">' + name + '<span class="remove_tag"><a data-remote="true" rel="nofollow" data-method="post" href="/item/<%= @item.id %>/removetag?tagname=' + name + '">x</a></span></span>'));
                $('#new_tag').val('');
                existing_tags.push(name);
                adjustNewTagWidth('tag_' + name);
                return true;
                }
                return false;
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(textStatus);
                return false;
            }
        });
        }
    }

</script>
