<!DOCTYPE html>
<html>
<head>
  <title>IFTF</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</head>
<body>
	<div id="page_header">
		<h1 style="text-align:center; font-size:25px">
    		<%= link_to 'The Interface for the Future', root_path %>
		</h1>
		<% if current_user %>
			<div id="user_info" class="logged_in">
				Logged in as <%= current_user.email %> 
				<span> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   </span>
			</div>
		<% else %>
			<div id="user_info">
				<span> <%= link_to 'Log in', new_user_session_path, :remote => true %> </span>
				<span> <%= link_to 'Sign up', '/users/sign_up' %> </span>
			</div>
		<% end %>
		</div>
	</div>
<!--
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
-->

	<%= yield %>

</body>
</html>
